<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.videorecommend.mapper.UserBehaviorMapper">
    <insert id="insert" parameterType="org.example.videorecommend.entity.UserBehavior">
        INSERT INTO user_behavior (user_id, video_id, video_category, like_type, relay_type, viewing_time, behavior_time)
        VALUES (#{userId}, #{videoId}, #{videoCategory}, #{likeType}, #{relayType}, #{viewingTime}, #{behaviorTime})
    </insert>
</mapper>
